@charset "utf-8";

/* font-family: 'Knewave', 'Roboto', cursive, sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:wght@400;500;700&display=swap");

/* Pretendard Variable */
@import url("../common/pretendardvariable-dynamic-subset.css");

/* 변수선언 */
@import url(../common/variable.css);

/* PC기준 */

body::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  font-family: var(--font-family-p);

  display: flex;
}

/* 공통 */
.block {
  display: block;
}

.bold {
  font-weight: 700;
}

/* -- 메인 오른쪽 영역 -- */

.right {
  width: 31.2%;
  height: 100vh;
  overflow: hidden;

  position: fixed;
  top: 80px;
  right: 0;
}

.right .r-wrapper {
  width: 100%;
  border-bottom: #000 1px solid;
}

.right .r-wrapper .wrapper1 {
  width: 77%;
  margin: 3vw auto 0;
}

.right .r-wrapper h4 {
  font-size: var(--font-size-27);
  font-weight: 700;
  margin: 2px 0 0.8vw;
}

.right .r-wrapper p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

.right .r-wrapper p:first-child {
  font-family: var(--font-family-title);
}

.right .r-wrapper .txt {
  margin: 1.8vw 0;
}

.right .r-wrapper .txt p {
  font-size: var(--font-size-17);
  margin-bottom: 6px;
}
.right .r-wrapper .txt p:first-child {
  font-size: var(--font-size-15);
  font-weight: 600;
}

.right .r-wrapper .txt .bold {
  display: inline-block;
  width: 25%;
  font-size: var(--font-size-17);
}

.right .r-wrapper .link-box {
  width: 80%;
  height: 55px;
  margin: 0 auto 3vw;
  color: #fff;
  font-size: var(--font-size-18);
  line-height: 55px;
  text-align: center;

  background: #000 url(./images/go_arrow_wt.png) no-repeat 66% 32% / 3%;
  border: 1px solid #000;
}

.right .r-wrapper .link-box a {
  display: block;
  width: 100%;
  height: 100%;
}

.right .r-wrapper .link-box:hover {
  background: #fff url(./images/go_arrow_bk.png) no-repeat 66% 32% / 3%;
  color: #000;
}

.right .r-wrapper .wrapper1 li {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3px;
}

.right .r-wrapper .wrapper1 .title {
  font-family: var(--font-family-title);
  font-size: var(--font-size-22);
  font-weight: 600;
}

.right .r-wrapper .wrapper1 .skill .title {
  margin-bottom: 8px;
}

.right .r-wrapper .wrapper1 .tool {
  margin: 1.5vw auto;
  display: flex;
  gap: 1vw;
}

.right .r-wrapper .wrapper1 .tool .img {
  display: flex;
}

.right .r-wrapper .wrapper1 .tool .img li {
  width: 70%;
}
.right .r-wrapper .wrapper1 .tool .img li img {
  width: 80%;
}

/* ---------- 메인 왼쪽 영역 ---------- */

/* 스크롤바 커스텀 */

.left::-webkit-scrollbar {
  width: 18px;
}

.left::-webkit-scrollbar-track {
  background-color: #fff;
  border: #000 1px solid;
}

.left {
  width: 68.8%;
  overflow-y: scroll;
  padding: 0;
}

/* 공통 서브버튼 */
.left .sub-button {
  width: 10.41vw;
  height: 3vw;

  position: relative;
}

.left .sub-button a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  border: 1px #000 solid;
  font-size: var(--font-size-18);
  font-weight: 700;
  line-height: 3vw;
  text-align: center;

  border-radius: 40px;
}

.left .sub-button a:hover {
  background-color: #fff;
  color: #000;
}

/* 메인배너 */
.left .m-banner {
  width: 100%;
  height: 87.1vh;
  text-indent: -999999px;
  background: url(./images/oz-page-bg.gif) no-repeat 5% 6.5% / 28%,
    url(./images/oz-page-bg.png) no-repeat 50% 70px / 100%;

  border-bottom: 1px solid #000;
}

.left .m-title {
  width: 90%;
  margin: 6vw auto 8vw;
}

.left .m-title h3 {
  font-size: var(--font-size-85);
  font-weight: 700;
  margin-bottom: -0.5vw;
}

.left .m-title .point-txt {
  font-family: var(--font-family-point);
  letter-spacing: 0.4rem;
}

.left .m-title p {
  font-size: var(--font-size-18);
  margin-bottom: 0.5vw;
}

.left .m-title > .line {
  border-top: #000 2px solid;
  margin-top: 2vw;
  padding-top: 1.5vw;
}

/* 담당업무 task*/
.left .m-title .task {
  margin-top: 1.5vw;
  display: flex;
  gap: 10px;
  font-size: var(--font-size-18);
  align-items: center;
}
.left .m-title .task li {
  padding: 2px 10px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #757575;
}

.left .m-title .task .bold {
  font-size: var(--font-size-20);
  font-weight: 700;
  margin-right: 15px;
  padding: 2px 0;

  border: none;
}

/* 포인트: 키워드&타겟 */
.left .m-point {
  width: 100%;
  height: 60vh;
  background: url(./images/oz-surfer.png) no-repeat 130% 10% / 43%;

  text-align: center;
  padding-left: 7%;

  display: flex;
  align-items: center;
  gap: 1.5vw;
}

.left .m-point:hover {
  background: url(./images/oz-surfer.gif) no-repeat 130% 10% / 43%;
}

.left .m-point .point {
  width: 21vw;
  height: 21vw;
  border-radius: 50%;
  border: #000 1px solid;
  padding-top: 8%;

  font-size: var(--font-size-15);
  line-height: 1.4;
}

.left .m-point h5 {
  font-size: var(--font-size-17);
  text-transform: uppercase;
  font-weight: 700;
}

.left .m-point .title {
  font-size: var(--font-size-27);
  font-weight: 700;
  margin-top: 12px;
  line-height: 2.5vw;
}

.left .m-point .sub-title {
  font-size: var(--font-size-22);
  margin-bottom: 15px;
}

.left .m-point .point:nth-child(2) {
  background-color: #000;
  color: #fff;
}

/* 호버이벤트 */
.left .m-point .point:nth-child(1):hover {
  background-color: #77cff5;
}

.left .m-point .point:nth-child(2):hover {
  color: #77cff5;
}

/* direction */

.left .direction {
  width: 100%;
}

.left .direction .direction-title {
  text-align: center;
  margin: 0 auto;
}

.left .direction .direction-title .vertical-line {
  width: 2.8125rem;
  height: 13.625rem;
  fill: none;
  stroke: #000;
  stroke-width: 0.1875rem;

  opacity: 0;

  margin: 4vw auto;
}

.left .direction .direction-title .vertical-line.start {
  opacity: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

.left .direction .direction-title h2 {
  font-family: var(--font-family-point);
  font-size: var(--font-size-55);
}

.left .direction .direction-title h3 {
  font-size: var(--font-size-64);
  margin: 15px auto;
}

.left .direction .direction-title p {
  font-size: var(--font-size-20);
  line-height: 1.6;
}

/* 이미지와 글자 위치 작업 */
.left .direction .renew-box {
  width: 100%;
  margin: 3vw auto 0;

  position: relative;
}

.left .direction .renew-box .renew-txt {
  line-height: 1.5;
  display: flex;
  gap: 1vw;
}

.left .direction .renew-box .renew-txt p {
  font-size: var(--font-size-22);
  font-weight: 400;
}

.left .direction .renew-box .renew-txt .bold {
  font-size: var(--font-size-22);
  font-weight: 700;
}

.left .direction .renew-box .renew-txt .txtBox img {
  width: 13.5vw;
  margin-bottom: 0.5vw;
}

/* renew-txt txt1 디테일 */
.left .direction .renew-box .txt1 {
  position: absolute;
  top: 14%;
  right: 12.5%;
  width: 30%;
}

.left .direction .renew-box .txt1 .yellow-line {
  align-self: center;
}

/* renew-txt txt2 디테일 */

.left .direction .renew-box .txt2 {
  position: absolute;
  top: 52%;
  right: 12.5%;

  gap: 0;
}

/* renew-txt txt3 디테일 */

.left .direction .renew-box .txt3 {
  position: absolute;
  bottom: 13.5%;
  left: 42%;
}

/* illust 일러스트 시안, 제작, 영상*/
.left .illust {
  width: 100%;
  border-top: #000 solid 1px;

  position: relative;
}

.left .illust .illust-txt {
  margin: 3vw 3vw 12vw;
  display: flex;

  position: relative;
}

.left .illust .illust-txt h4 {
  font-size: var(--font-size-45);
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
}

.left .illust .illust-txt p {
  font-size: var(--font-size-18);
  width: 45%;
  line-height: 1.6;
  margin-top: 0.4vw;

  position: absolute;
  right: 0;
}

.left .illust .illust-img {
  width: 100%;
}

.left .illust .illust-img .motif-img {
  width: 100%;
  height: 55vh;
  background: url(./images/oz-motif.png) no-repeat 50% 10% / 70%;
}

.left .illust .illust-img:hover .motif-img {
  background: url(./images/oz-motif.gif) no-repeat 50% 10% / 70%;
}

.left .illust .illust-img .motif-txt {
  width: 50%;
  height: 20vh;
  text-align: center;
  font-size: var(--font-size-18);
  line-height: 1.8;

  background-color: #0039c9;
  color: #fff;

  margin: -2vw auto 10vw;

  display: grid;
  place-content: center;
}

/* guide 퍼블리싱 가이드라인*/
.left .guide {
  width: 100%;
  border-top: #000 solid 1px;

  position: relative;
}

.left .guide .guide-txt {
  margin: 3vw 3vw 12vw;
  display: flex;

  position: relative;
}

.left .guide .guide-txt h4 {
  font-size: var(--font-size-45);
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
}

.left .guide .guide-txt p {
  font-size: var(--font-size-18);
  width: 45%;
  line-height: 1.6;
  margin-top: 0.4vw;

  position: absolute;
  right: 0;
}

.left .guide .guide-img {
  display: flex;
}

.left .guide .guide-img img {
  width: 80%;
}

.left .guide .guide-img .sub-button {
  align-self: flex-end;
  margin-bottom: 3vw;
}

/*********  script JavaScript ******** */
.left .script {
  width: 100%;
  border-top: #000 solid 1px;

  position: relative;
}

.left .script .script-txt {
  margin: 3vw 3vw 12vw;
  display: flex;

  position: relative;
}

.left .script .script-txt h4 {
  font-size: var(--font-size-45);
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.4;
}

.left .script .script-txt p {
  font-size: var(--font-size-18);
  width: 45%;
  line-height: 1.6;
  margin-top: 0.4vw;

  position: absolute;
  right: 0;
}

/* script ******** script-img 메인 이미지 */
.left .script .script-img {
  width: 100%;
  height: 220vh;

  margin-bottom: 5vw;
  position: relative;
}

.left .script .script-img .mint-line {
  position: absolute;
  top: 50vw;
  left: 10vw;
}

.left .script .script-img .script-info {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 0.5fr);
}

/* 웹 홈 상단이미지 */

.left .script .script-img .script-info .info-img {
  grid-column: 2/4;
  grid-row: 1/3;

  border: 1px solid #000;
  width: 90%;
  margin: 0 auto;
}

/*********  인포 공통영역: 글자 크기 등등******** */

.left .script .script-img .script-info .number {
  font-size: var(--font-size-30);
  font-weight: 800;
  line-height: 1.5;
}

.left .script .script-img .script-info p {
  font-size: 1rem;
  color: #757575;
  line-height: 1.4;
}

.left .script .script-img .script-info .bold {
  font-weight: 700;
}

.left .script .script-img .script-info .info-tool {
  width: 4vw;
  height: 1.2vw;
  font-size: var(--font-size-15);
  border: 1px solid #757575;
  background-color: #fff;
  border-radius: 50px;
  color: #000;

  text-align: center;
  line-height: 1.2vw;

  margin-top: 0.8vw;
}

/* 인포 개별*/
/* 01 */
.left .script .script-img .script-info .info-1 {
  grid-column: 1/2;
  grid-row: 1/2;

  text-align: right;

  position: relative;
}

.left .script .script-img .script-info .info-1 .info-tool {
  position: absolute;
  right: 0;
  margin-bottom: 1vw;
}

.left .script .script-img .script-info .info-1 img {
  width: 70%;
  margin: 3vw 0 1vw;
}

/* 02 */
.left .script .script-img .script-info .info-2 {
  grid-column: 4/5;
  grid-row: 1/4;

  margin-top: 8vw;
  position: relative;
}

.left .script .script-img .script-info .info-2 .bold {
  margin-top: 1vw;
}

.left .script .script-img .script-info .info-2 .info-skill {
  margin-top: 1vw;
  width: 80%;
  border: 1px solid #000;
}

.left .script .script-img .script-info .info-2 .info-skill p {
  width: 100%;
  font-size: var(--font-size-13);
  line-height: 1.6;
  color: #000;
}

.left .script .script-img .script-info .info-2 .info-skill .p-box1 {
  background-color: #f5f4f4;
  padding: 15px;
  border-bottom: 1px solid #000;
}

.left .script .script-img .script-info .info-2 .info-skill .p-box2 {
  background-color: #000;
  padding: 15px 15px 0;
}

.left .script .script-img .script-info .info-2 .info-skill .p-box2 p {
  color: #fff;
  padding-bottom: 15px;
}

/* 03 */
.left .script .script-img .script-info .info-3-1 {
  grid-column: 1/2;
  grid-row: 2/3;

  margin-top: 7vw;
  text-align: right;

  display: grid;
  align-self: flex-end;

  position: relative;
}

.left .script .script-img .script-info .info-3-1 p {
  margin-top: 3vw;
}

.left .script .script-img .script-info .info-3-1 .info-tool {
  position: absolute;
  right: 0;

  bottom: 3.3vw;
  margin-top: 1vw;
}

.left .script .script-img .script-info .info-3-2 {
  grid-column: 1/3;
  grid-row: 3/4;

  width: 60%;
  margin: 1vw auto 0;
  border: 1px solid #000;
  background-color: #000;
}

.left .script .script-img .script-info .info-3-2 .p-box p {
  width: 100%;
  font-size: var(--font-size-13);
  line-height: 1.6;
  color: #000;
}

.left .script .script-img .script-info .info-3-2 .p-box1 {
  background-color: #f5f4f4;
  padding: 15px;
  border-bottom: 1px solid #000;
}

.left .script .script-img .script-info .info-3-2 .p-box2 {
  background-color: #000;
  padding: 15px 15px 0;
}

.left .script .script-img .script-info .info-3-2 .p-box2 p {
  color: #fff;
  padding-bottom: 15px;
}

/* 04 */
.left .script .script-img .script-info .info-4 {
  grid-column: 3/5;
  grid-row: 3/5;

  margin: 14vw 0 0 7vw;
  position: relative;
}

.left .script .script-img .script-info .info-4 img {
  width: 48%;
  margin-left: -2vw;
  margin-bottom: 1vw;
}

.left .script .script-img .script-info .info-4 .bold {
  margin: 1vw 0;
}

/* 05 */
.left .script .script-img .script-info .info-5 {
  grid-column: 2/5;
  grid-row: 5/6;

  margin-left: 10vw;
  margin-top: 7vw;

  position: relative;
}

.left .script .script-img .script-info .info-5 .info-tool {
  width: 100px;
}

.left .script .script-img .script-info .info-5 .bold {
  margin: 1vw 0 3px;
}

.left .script .script-img .script-info .info-5 .sub-button {
  margin-top: 1.5vw;
}

/* 공통 숫자 옆의 선  */

.left .script .script-img .script-info .info-1 .number::after,
.left .script .script-img .script-info .info-3-1 .number::after {
  content: "";
  display: block;
  width: 27px;
  height: 1px;
  background-color: #000;

  position: absolute;
  top: 20.5px;
  right: -1.7vw;
}

.left .script .script-img .script-info .info-2 .number::before,
.left .script .script-img .script-info .info-5 .number::before {
  content: "";
  display: block;
  width: 27px;
  height: 1px;
  background-color: #000;

  position: absolute;
  top: 20.5px;
  left: -1.7vw;
}

.left .script .script-img .script-info .info-4 .number::before {
  content: "";
  display: block;
  width: 1px;
  height: 27px;
  background-color: #000;

  position: absolute;
  top: 9.8vw;
  left: 2px;
}

/******** git organization ********/
.left .git {
  width: 100%;
  height: 30vw;
  border-top: #000 solid 1px;
  background-color: #000;
  color: #fff;

  position: relative;
}

.left .git .git-txt {
  margin: 3vw 3vw 12vw;
  display: flex;

  position: relative;
}

.left .git .git-txt h4 {
  font-size: var(--font-size-45);
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.4;
  letter-spacing: 1px;
}

.left .git .git-txt .git-txtBox {
  width: 100%;
}

.left .git .git-txt .git-txtBox p {
  font-size: var(--font-size-18);
  width: 45%;
  line-height: 1.6;
  margin: 0.4vw 0 2vw;

  position: absolute;
  right: 0;
}

.left .git .git-txtBox .git-button {
  display: flex;
  width: 45%;

  background-color: #fff;
  border: #fff 1px solid;

  position: absolute;
  right: 0;
  bottom: -8vw;
}

.left .git .git-txtBox .git-button img {
  width: 18.5%;
}

.left .git .git-txtBox .git-button .go-git {
  width: 30px;

  position: absolute;
  top: 50%;
  right: 1.5vw;
  transform: translateY(-50%);
}

.left .git .git-txtBox .git-button .git-bTxt {
  width: 130%;
  position: absolute;
  top: 10%;
  right: 18%;
}

.left .git .git-txtBox .git-button .git-bTxt p {
  font-size: var(--font-size-14);
  color: #757575;
}

.left .git .git-txtBox .git-button .git-bTxt .bold {
  font-size: var(--font-size-24);
  color: #000;
  font-weight: 700;
}

/******* 스타일가이드 ********/
.left .style {
  width: 100%;
  padding: 7vw 5vw 10vw;
}

.left .style h2 {
  font-family: var(--font-family-point);
  font-size: var(--font-size-58);
}

.left .style .line {
  width: 40%;
  height: 5vw;
  text-indent: -99999px;
  background: url(./images/Union2.png) no-repeat 65% 0 / 45%;
}

.left .style .box .title {
  font-size: var(--font-size-28);
  font-weight: 800;
  letter-spacing: -0.7px;
  text-transform: uppercase;
}

.left .style .box p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.left .style .box1,
.left .style .typoBox {
  display: flex;
  gap: 2vw;
}

.left .style .box {
  margin-top: 7vw;
}

/* 로고 */
.left .style .box1 .txtBox1 {
  width: 50%;
}

.left .style .box1 .imgBox1 {
  width: 50%;
}

.left .style .txtBox1 .imgBox1 {
  width: 80%;
  margin-top: 3vw;
}

.left .style .txtBox1 .imgBox1 img {
  width: 108%;
}

.left .style .txtBox1 .imgBox1 .imgTxt {
  width: 105%;
  background-color: #000;
  color: #fff;
  padding: 20px;
}

.left .style .txtBox1 .imgBox1 .imgTxt p {
  font-size: 0.9rem;
}

.left .style .txtBox1 .imgBox1 .imgTxt .bold {
  margin-right: 6px;
  font-weight: 700;
}

/* 공연로고 */

.left .style .box1 .txtBox2 {
  width: 50%;

  position: relative;
}

.left .style .box1 .txtBox2 img {
  width: 68%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* box2 */
/* 컬러팔레트 */

.left .style .box2 {
  width: 100%;
}

.left .style .box2 .imgBox1 {
  width: 100%;
  margin-top: 3vw;
  margin-left: -0.5vw;
}

.left .style .box2 .imgBox1 img {
  width: 103%;
}

/* 타이포그라피 */
.left .style .box3 {
  margin-top: 5vw;
}

.left .style .box3 .typoBox {
  width: 100%;
  margin-top: 2vw;
  display: flex;
  gap: 6vw;
}

.left .style .box3 .typoBox .small {
  font-family: var(--font-family-p);
  text-transform: uppercase;
  font-size: 1rem;
  color: #757575;

  margin-bottom: 15px;
}

.left .style .box3 .typo {
  margin-top: 4vw;
}

.left .style .box3 .typo img {
  margin-top: 2vw;
}

/******* 솔루션 문제&해결 *******/
.left .publishing {
  width: 100%;
}

/* 솔루션 타이틀 */
.left .publishing .publishing-title {
  width: 100%;
  height: 18vw;
  background-color: #000;
  color: #fff;
  text-align: center;

  display: grid;
  place-content: center;
}

.left .publishing .publishing-title h3 {
  font-size: var(--font-size-36);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.left .publishing .publishing-title p {
  font-size: var(--font-size-20);
  line-height: 1.6;
}

/* 진행과정 */
.left .publishing .progress {
  font-size: var(--font-size-20);
  width: 100%;
  height: 60px;
  line-height: 60px;

  display: flex;
  gap: 2vw;
  justify-content: center;

  border-bottom: #000 1px solid;
}

.left .publishing .progress .bold {
  font-weight: 900;
}

/* bad & good */
.left .publishing .ox-box {
  width: 100%;

  display: flex;
  margin: 3vw auto 5vw;
  align-items: center;

  font-size: var(--font-size-18);
  line-height: 1.5;

  position: relative;
}

.left .publishing .ox-box .line-center {
  width: 0.6vw;
  height: 33vw;
  fill: none;
  stroke: #000;
  stroke-width: 0.1875rem;
}

.left .publishing .ox-box .title {
  font-family: var(--font-family-point);
  font-size: var(--font-size-55);
  text-align: center;
  margin-bottom: 3.5vw;
}

.left .publishing .ox-box .problem {
  width: 50%;
  margin-left: 4vw;
}

.left .publishing .ox-box .solution {
  width: 50%;
}
.left .publishing .ox-box .problem li {
  width: 75%;
  margin: 2vw auto 0.5vw;
  display: flex;
  gap: 27px;
}

.left .publishing .ox-box .problem .margin-under {
  margin-bottom: 2vw;
}

.left .publishing .ox-box .problem li img {
  width: 20px;
  height: 24px;
  margin-top: 5px;
}

/* 프로브럼 밑줄과 이벤트*/
.left .publishing .ox-box .problem .line-pro {
  width: 10vw;
  height: 0.4vw;
  fill: none;
  stroke: #000;
  stroke-width: 0.1875rem;

  position: absolute;
  left: 20%;
  top: 36%;

  display: none;
}

.left .publishing .ox-box .problem .line-pro.start {
  display: block;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  form {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.left .publishing .ox-box .solution {
  margin-left: 4vw;
  position: relative;
}

.left .publishing .ox-box .solution .title {
  text-align: left;
  text-indent: 20%;
}

.left .publishing .ox-box .solution li {
  width: 100%;
  margin: 2vw auto 0.5vw;
  display: flex;
  gap: 27px;
}

/* 솔루션 동그라미과 이벤트 */

.left .publishing .ox-box .solution .line-sol {
  width: 14vw;
  height: 4vw;
  fill: none;
  stroke: #000;
  stroke-width: 0.1875rem;

  position: absolute;
  left: 7%;
  top: 1%;

  display: none;
}

.left .publishing .ox-box .solution .line-sol.start {
  display: block;

  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  form {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.left .publishing .ox-box .solution li img {
  width: 31px;
  height: 20px;
  margin-top: 5px;
}

/* -- 풋터 영역 -- */

.left footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 80px 0 0 0;
}

/* 리뷰 */
.left footer .review {
  width: 100%;
  padding: 7vw 5vw 5vw;
}

.left footer .review h2 {
  font-family: var(--font-family-point);
  font-size: var(--font-size-58);
}

.left footer .review .line {
  width: 40%;
  height: 5vw;
  text-indent: -99999px;
  background: url(./images/Union2-wt.png) no-repeat 5% 0 / 50%;
}

.left footer .review .p-box p {
  font-size: var(--font-size-18);
  line-height: 1.8;
  margin-bottom: 2vw;
}

/* 인포 */
.left footer .f-info {
  width: 90%;
  height: 5vw;
  border-top: 1px solid #fff;
  margin: 0 auto;

  font-size: var(--font-size-20);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left footer .f-info .all-git {
  width: 95%;

  display: flex;
  align-items: center;
}

.left footer .f-info .all-git img {
  width: 7vw;
  transform: translateX(-0.4vw);
  margin-right: 0.5vw;
}

.left footer .f-info .all-git li a {
  display: block;
  width: 120%;
  padding-top: 0.7vw;
  background: url(./images/go_arrow_wt.png) no-repeat 100% 50% / 12%;
}

.left footer .f-info .all-git li:last-child a {
  display: block;
  width: 120%;
  margin-left: 1.5vw;
  background: url(./images/go_arrow_wt.png) no-repeat 73% 50% / 6%;
}

.left footer .f-info .f-logo {
  text-indent: -999999px;
  width: 7vw;
  background: url(./images/Haker-logo-wt.png) no-repeat 50% / 100%;
}
